@CHARSET "UTF-8";

table, .commandBar
{	
	
	width:100%;
}

.danger1 {
	background-color: #ff0000;
	color: #ffffff;	
}

#command
{
	
	margin-right:-5em;
	width:99%;
	font-size:1em;
	float:left;
	
}
#sample code
{
	font-size:1.2em;
	font-weight:bold;
	color: #6666ff;
}
#samplediv
{
	width:100%;
	clear:left;
}
#sample
{
	padding:4px;
	background-color: #fff4a8;
}

#sampleBtn
{
	float:right;
	margin-top:1em;
	margin-right:2em;
	border:2px solid #499300;
	background-color: #fff4a8;
	font-size:1.1em;	
	font-weight:bold;
	color:#499300;
	border-radius:5px;
	cursor:pointer;
	text-align:center;
	width: 1.5em;
	height: 1.5em;
	line-height:1.5em;  
}
#exportedCommandsDialog form, #exportedTestcase{
	width:100%;
	height:95%;
}
.click_to_select{
	padding : 2px;
}
.show_drag:hover, .click_to_select:hover
{ 	
	/*padding : 1px;	*/ 
	background-color:#c6e2ff;
}
.desc{
	font-size : 1em;
	color: #727272;
}
.tips{
	font-size : 1em;
	color: #8080ff;
}
.value{
	padding-right:20px;
	font-weight:bold;
	
}
.hint_bg{
	background-color:#fff4ea;
}

.show_cursor{
	cursor:pointer;
}
.show_drag{
	cursor:move;
}


.history_div th
{
	background-color: #9e9e9e;
	color:white;
}
.button_bar
{
	
	clear:left;
	
}
button {
	margin: 2px;
}
.right_aligned_in_bar
{ 
	margin: 2px;
	float:right; 
}

tr.result_Passed, tr.result_Remark
{
	background:#f5ffd7;
}

tr.result_Failed
{
	background:#ffdddd;
}

tr.result_Skipped
{
	background:#f1f1f1;
}

.history_div {
	clear:both;
	min-width:580px;
	width:100%;
	max-height:300px;
	overflow-y:scroll;
	overflow-x:visible;
}
.history_div table{
	min-width:580px;

	border-collapse:collapse;
	overflow-x:visible;
}

.history_div th{
	border:none;
	padding-left:2px; 
	padding-left:2px;
	
}
.history_div td{
	border:solid #ececec;
	border-top-width:0px;   
    border-right-width:2px;   
    border-bottom-width:0px;   
    border-left-width:2px; 
	padding-left:2px; 
	padding-right:2px;
	
}
.history_div tbody tr{  
	 
	border:2px solid transparent;
}




#commandReminder {
	position:absolute;
	display:none;
	left:0;
	
	padding:0.3em;
	color:white;
	font-size:1.1em;
	font-weight:bold;
	background-color:#0080ff; 
}






 


 
#snapshotDiv div span { 
	width: 49%;
	display:block; 
	float: left;
}
#snapshotDiv div span label {
	
	height:2em;
}
#snapshotDiv div span textarea {
 
	min-width:200px;
	width: 98%;
	min-height: 400px;
	height: 80%;
} 

#snapshotDiv  {
	width: 100%;
}  
.testcase_details {
	background-color: #f8f8f8;
} 

#progressbar .ui-progressbar-value {
    background-color: #ccc;
}